{% extends "base.html" %}

{% block titulo %}
  {{ classifier }}
{% endblock %}

{% block body %}
<section>
  <a href=" {{ url_for('home') }} " >
    < home
  </a>

  <h1>{{ classifier }}</h1>

  <form method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {% for field in form.fields %}
        {{ form[field].label() }}
        {{ form[field] }}
    {% endfor %}
    {{ form.btn }}
  </form>

  {% if acc %}
    <p>
      <b>Acurácia:</b> {{ acc }}
    </p>
  {% endif %}

  {% if macro_avg %}
    <p>
      <b>Macro Average F1-Score:</b> {{ macro_avg }}
    </p>
  {% endif %}

  {% if cm_img %}
    <img src="data:image/png;base64, {{ cm_img }}" />
  {% endif %}
</section>
{% endblock %}
